<div class="chapter-number" *ngIf="episode" [title]="'Chapter '+episode.chapter+' (Part '+episode.part+')'">
    <div>
        <span class="chapter"><span class="num">{{episode.chapter | number:'2.0'}}</span></span>
        <sub class="part">
            <small><span class="num">{{episode.part}}</span></small>
        </sub>
    </div>
    <span class="tag extra" *ngIf="episode.extra">Extra</span>
</div>

<div *ngIf="episode">
    <div lang="zh-CN">{{episode.title}}</div>
    <div style="opacity: .64;">
        <time [attr.datetime]="episode.date | date:'full'">
            <small style="font-weight: bold;">{{episode.date | date:'MMM d, ' }}</small>
            <small style="font-weight: bold;">{{episode.date | date:'shortTime' }}</small>
        </time>
    </div>
</div>

<div class="links">
    <a *ngIf="episode?.links?.mangaBilibili" title="Read on Bilibilib comics" [href]="episode?.links?.mangaBilibili"
        target="_blank" rel="noopener noreferrer">
        <img src="assets/bilibili-comic.jfif" alt="Bilibilib comics logo">
    </a>
    <a *ngIf="episode?.links?.weibo" title="View post on Weibo" [href]="episode?.links?.weibo" target="_blank"
        rel="noopener noreferrer">
        <img src="assets/icon-weibo.svg" alt="Weibo logo">
    </a>
</div>

<span *ngIf="episode" style="text-align: center;">{{episode.time.days | number}}<span
        *ngIf="episode.status=='waiting'">+ </span><small style="opacity: .64; font-weight: bold;"> Days</small>
</span>