<app-hero>
  <app-typing [typingDelay]="64" [erasingDelay]="16" [staticText]="typing.prefix" [textArray]="typing.list" />
  <app-waiting-counter *ngIf="calcWait.waiting?.time && calcWait.waiting?.time!.days  > 80"
    [countOfTime]="calcWait.waiting!.time"></app-waiting-counter>
</app-hero>

<div class="parchment-wrapper">
  <hr class="wavy-top">

  <app-parchment>
    <h1 class="gb-light" style="font-family: 'Ma Shan Zheng', cursive;" lang="zh-CN">鬼刀</h1>
    <div class="list" *ngFor="let g of episode.episodesByYear">
      <h4 class="" style="text-align: center;">{{g.id}}</h4>
      <app-episode-item *ngFor="let e of g.items" [episode]="e" />
    </div>
  </app-parchment>

</div>

<div class="parchment-wrapper">
  <app-parchment><app-logo /></app-parchment>
</div>

<footer style="background: inherit;overflow: auto; position: relative;">
  <div style="display: grid; place-content: center;">
    <p>&copy;2023 <a href="http://reddit.com/WLOP" target="_blank" rel="noopener noreferrer">WLOP<sub>fans</sub></a></p>
  </div>
</footer>

<fx-roughpaper /><fx-grainy /><fx-worn [seed]="fx.seed" [scale]="fx.scale" />
<fx-worn [id]="'worn-s'" [seed]="fx.seed" [scale]="fx.smallScale" />
<fx-wavy-animate />