:host{
    display: grid;
    grid-template-columns: 128px 1fr;
    align-items: center;
    gap: 1.5rem;

    img {
        max-width: 128px;
        max-height: 128px;
        margin: auto;
    }

    h5,
    h6 {
        margin: 0;
    }

    h6 {
        opacity: .8;
    }
}